/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* @import url("../Support/Fonts/Satoshi-Bold.otf");
@import url("../Support/Fonts/Satoshi-Italic.otf");
@import url("../Support/Fonts/Satoshi-Regular.otf"); */

/* Colors */
:root {
    --lightGray: #FAFAFA;
    --darkGray: #E9E9E9;
    --black: #212427;
    --lightBeige: #ede6d1;
    --beige: #e3d9ba;
    --lightGreen: #468755;
    --green: #19472a;

    --largeSpace: 6rem;
    --mediumSpace: 4rem;
    --mobileEdgeSpace: 2rem;
    --smallSpace: 2rem;
    --oneSpace: 1rem;
    --fracSpace: 0.7rem;
    --wordPadding: 0.5rem;

    font-family: 'Poppins', sans-serif;
    background-color: var(--lightGray);
    background-image: url("../Support/Images/noise.png");

    font-size: 1em;
}

@media screen and (max-width: 800px) {
    :root {
        font-size: 0.6em;
    }
}

/* Grid setup */
#mainGrid {
    font-family: Satoshi;
    color: var(--black);

    /* Grid Setup */
    display: grid;
    grid-template-areas: "head  head"
                         "main main"
                         "foot foot";
    grid-template-columns: 1fr auto; /* right col is 20 em, remaining is 1 fraction of the rest (the rest) */
    grid-template-rows: auto 1fr auto;

    align-items: center;
    
    min-height: 99vh;

}

/* Name title attributes */
#nameText {
    font-weight: bold;
    font-size: 1.5rem;
}

/* Header attributes */
header {
    grid-area: head;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 0 var(--mediumSpace);
}

header #headerImage {
    height: 64px;
}

/* Nav Bar attributes*/
#navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: var(--mediumSpace) 0;
}

#navBar > #openMenuButton {
    display: none;
    height: 48px;
    width: 48px;
}

#navBar > #navBarItems {
    display: block;
    padding-inline-start: 0;
}

#navBar > #navBarItems > li {
    display: inline;
    padding-right: var(--smallSpace);
}

@media screen and (max-width: 800px) {
    #navBar {
        margin: 0 var(--mobileEdgeSpace);
    }

    header {
        margin: 0 var(--mobileEdgeSpace);
    }

    #navBar > #navBarItems {
        display: none;
    }

    #navMenu > #navMenuItems {
        display: flex;
    }
}

/* Nav Menu attributes */
#navMenu {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: fixed;
    top: 0;
    right: var(--oneSpace);
    width: 30px;
    z-index: 5;

    transition: left 0.3s ease-out;
}

#navMenuItems {
    align-items: center;
    display: none;
    flex-direction: column;
    gap: var(--smallSpace);
    margin: 0;
}

.nav-icon {
    width: 30px;
    height: 30px;
    filter: invert(100%) sepia(4%) saturate(2090%) hue-rotate(169deg) brightness(96%) contrast(85%);
}

/* Main body attributes */
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    position: relative; /* Necessary for swiftBirds 100% height to work as expected */
    scrollbar-width: 0;
}

body > #mainGrid > main {
    grid-area: main;

    /*Horizontal centering*/
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-wrap: wrap;
    align-items: center;
    
    margin: 0 var(--mediumSpace);
}

@media screen and (max-width: 800px) {
    body > #mainGrid > main {
        margin: 0 var(--mediumSpace);
    }
}

body > #mainGrid > main > .content-div {
    max-width: 1920px;
    width: 100%;
}


/* Footer style */
body > #mainGrid > footer {
    grid-area: foot;
    bottom: 0px;
    background: url("../Support/Images/noise.png") var(--lightGray);
    font-size: 1.3rem;
    padding-top: var(--smallSpace);
    padding-bottom: var(--mediumSpace);
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

body > #mainGrid > footer div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    align-items: center;
    justify-items: left;
    margin: 0 var(--mediumSpace);
}

body > #mainGrid > footer a {
    margin-right: var(--smallSpace);
}

body > #mainGrid > footer a:last-child {
    margin-right: 0;
}

body > #mainGrid > footer a:hover {
    color: var(--black);
}

@media screen and (max-width: 800px) {
    body > #mainGrid > footer div {
        justify-content: center;  
        margin: 0; 
    }
}

/* Utility styles */
p {
    /* max-width: 35em; */
    line-height: 1.6em;
    font-size: 1rem;
    margin: 0;
    padding: var(--oneSpace) 0;
}

h1, h2, h3 {
    padding: var(--oneSpace) 0;
    margin: 0;
    line-height: 1.2em;
}

body > #mainGrid .content-div #pageHeadingText  {
    padding-top: 0;
    padding-bottom: var(--smallSpace);
}

ul {
    margin: 0 var(--smallSpace);
    padding: 0;
}

li {
    list-style-type: none;
}

dl {
    margin: 0 var(--smallSpace);
    padding: 0;
}

p > a {
    font-size: 1rem;
}

a {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--lightGreen);
}

.nav-text {
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
}

.nav-text::after {
    background-color: var(--lightGreen);
    content: "";
    position: absolute;
    /* left: 0; */
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: width 0.25s ease-out;
    z-index: -100;
}

.nav-text:hover::after {
    left: 0;
    margin-right: auto;
    width: 100%;
}

#selected {
    color: var(--green);
    text-decoration: underline var(--green) 2px;
    text-underline-offset: 0.35rem;
}

.icon {
    width: 36px;
    height: 36px;
}

.bulleted-list > li {
    list-style-type: '-  ';
}

mark {
    font-style: italic;
    padding: 0 0.2rem;
}

.green-mark {
    background-color: greenyellow;
    padding: 0 0.5rem;
}

.orange-mark {
    background-color: orange;
}

/* Div flex properties are assigned with the additional .right-text-mode and .left-text-mode classes */
.image-div {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    gap: var(--mediumSpace);
    margin-bottom: var(--largeSpace);
}

.right-text-mode {
    flex-direction: row;
    text-align: right;
}

.left-text-mode {
    flex-direction: row-reverse;
    text-align: left;
}

.image-div-text {
    flex-grow: 1;
    width: 100%;
}
.image-div-image {
    flex-grow: 0;
}

@media screen and (max-width: 800px) {
    .image-div {
        flex-direction: column-reverse;
        text-align: left;
        gap: var(--oneSpace);
    }

    .right-text-mode, .left-text-mode {
        flex-wrap: wrap;
    }

    .image-div-image {
        margin: 0 auto;
    }
}


.highlighter-button {
    display: inline-block; /* This is needed to make the link act like a button (padding & margin effects surrounding elements), since a elements are inline by default */
    border: none;
    border-radius: var(--oneSpace);
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
    padding: 2px 4px;
    position: relative;
}

.highlighter-button::after {
    background-color: greenyellow;
    content: "";
    position: absolute;
    /* left: 0; */
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    transition: width 0.25s ease-out;
    z-index: -100;
}

.highlighter-button:hover::after {
    left: 0;
    margin-right: auto;
    width: 100%;
}

.highlighter-button:hover { /* disable hover color */
    color: var(--black);
}

/* Page dependent styles */
/* 404 */
#error .image-div {
    margin-bottom: 0;
}

#error a {
    font-size: 1rem;
    text-decoration: underline;
}

/* Home */
#homeHeader {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: var(--largeSpace);
}

#homeHeader > #topText {
    z-index: -10;
}

#homeHeader > #topText h1 {
    font-size: 10rem;
    font-weight: 900;
    padding: 0;
}

#homeHeader > img {
    z-index: -5;
    width: 512px;
    margin-top: -6rem;
    margin-bottom: -5rem;
    mask-image: linear-gradient(to bottom, black 75%, rgba(0,0,0,0));
}

@media screen and (max-width: 800px) {
    #homeHeader > #topText h1 {
        font-size: 8rem;
    }

    #homeHeader > img {
        margin-top: -7rem;
        width: 340px;
    }
}

#homeHeader > #bottomText {
    text-align: center;
    max-width: 900px;
}

#homeHeader > #bottomText h3 {
    font-size: 3rem;
    font-weight: bold;
    padding: 0;
}

#homeHeader > #bottomText p {
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0;
}

#resumeButton {
    padding-top: var(--smallSpace);
}

/* Portfolio */
#portfolio #portfolioImage {
    height: 25rem;
    transition: all 0.15s ease-out;
}

#portfolio #portfolioImage:hover {
    -webkit-filter: drop-shadow(4px 10px 7px rgba(3, 4, 7, 0.15));
    filter: drop-shadow(4px 10px 7px rgba(3, 4, 7, 0.15));
    transform: scale(1.02, 1.02);
}


#portfolio #portfolioList:nth-child(odd) {
    background-color: var(--darkGray);
}

#portfolio #portfolioList {
    margin: 0;
}

/* Resume */
#resume #resumeContent li, .date, .job-title, h3 {
    /* Use margin instead of padding on the resume page since it equally spaces the list elements via vertical collapsing */
    padding: 0;
    margin: var(--fracSpace) 0;
}

#resume #resumeContent .section-list > li:not(:last-child) {
    padding-bottom: var(--oneSpace);
    margin: var(--oneSpace) 0;
}

#resume #resumeContent section {
    padding: 0 0 var(--smallSpace) 0;
}

#resume #resumeContent section h2 {
    padding: 0;
}

#resume .employer {
    font-weight: bold;
    padding-right: var(--oneSpace);
}

#resume .job-title {
    font-style: italic;
    font-weight: normal; /* This is to keep italic elements in headers light */
}

#resume .date {
    font-weight: bold;
}

/* About */
#about #aboutImage {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    object-position: 0 20%;
    -webkit-mask-image: url(../Support/Images/About\ Crop\ Rectangle.svg);
    -webkit-mask-size: 15rem 15rem;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(../Support/Images/About\ Crop\ Rectangle.svg);
    mask-size: 15rem 15rem;
    mask-repeat: no-repeat;
}

#about #aboutApp:hover {
    animation: appWiggle 0.35s infinite ease-out;
}

#about .right-text-mode {
    text-align: left;
}

@keyframes appWiggle {
    0% { transform: rotate(0); }
    25% { transform: rotate(-0.5deg); }
    75% { transform: rotate(0.5deg); }
    100% { transform: rotate(0); }
}

#about #appText {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(3, 4, 7, 0.4); /* For some reason var, opacity wouldn't work, but this is just 30% --black */
}

/* Swift Birds */
#swiftBirds {
    background-image: url(../Support/Images/Swift-Stack.svg);
    background-repeat: repeat-y;
    background-size: 48px;
    position: absolute;
    top: -36px;
    left: var(--mediumSpace);
    height: 100%;
    width: 48px;
    opacity: 50%;
}

@media screen and (max-width: 800px) {
    #swiftBirds {
        left: var(--oneSpace);
    }
}