#swiftBirds {
    background-image: url(../Support/Images/Swift-Stack.svg);
    background-repeat: repeat-y;
    background-size: 48px;
    position: absolute;
    top: -36px;
    right: 4rem;
    height: 100%;
    width: 48px;
    opacity: 50%;
}